{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ inventorymodel.username }} Profile{% endblock %}
{% block content %}
    <section class="vh-300" style="background-color: #eee;">
        <div class="container py-3 h-100">
            <div class="row content-center">

                <!-- BEGIN row -->
                <div class="row justify-content-center">
                    <!-- BEGIN col-10 -->
                    <div class="col-xl-10">
                        <!-- BEGIN row -->
                        <div class="row">
                            <!-- BEGIN col-9 -->
                            <!-- BEGIN #general -->
                            <div id="general" class="mb-5">
                                <h4><i class="far fa-user fa-fw text-theme"></i> General
                                    of {{ inventorymodel.factory_name}} {{ inventorymodel.model_name}} <a
                                            href="{% url "inventory_update" pk=inventorymodel.pk %}"
                                            class="btn btn-outline-primary w-100px">Edit</a></h4>
                                <p>View and update device information.</p>
                                <div class="card">
                                    <div class="list-group list-group-flush">
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">USERNAME</div>
                                                <div>{{ inventorymodel.username }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">TYPE</div>
                                                <div>{{ inventorymodel.type_name }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">FACTORY</div>
                                                <div> {{ inventorymodel.factory_name }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">MODEL</div>
                                                <div>{{ inventorymodel.model_name }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">OS</div>
                                                <div>{{ inventorymodel.op_system }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">CPU</div>
                                                <div>{{ inventorymodel.cpu_capacity }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">RAM</div>
                                                <div> {{ inventorymodel.ram_capacity }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">SSD</div>
                                                <div>{{ inventorymodel.ssd_capacity }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">SERIAL</div>
                                                <div>{{ inventorymodel.serial_number}}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">STATUS</div>
                                                <div>{{ inventorymodel.status }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">BUY DATE</div>
                                                <div> {{ inventorymodel.created_date }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">CREATED BY</div>
                                                <div>{{ inventorymodel.created_by }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">PRICE BUY</div>
                                                <div>{{ inventorymodel.price_buy }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">PRICE TODAY</div>
                                                <div>{{ inventorymodel.price_today }}</div>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="flex-1 text-break">
                                                <div class="fw-bold">COMMENTS</div>
                                                <div> {{ inventorymodel.comment }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for data in history %}
                                {% if inventorymodel.pk == data.invent_id%}
                                    <div>{{ data.username  }}</div>
                                {% endif %}
                            {% endfor %}
                            <div>
                                <img src="/media/{{ inventorymodel.qrcode }}">
                            </div>
                            <!-- END #general -->


                        </div>
                        <!-- END col-9-->


                        <!-- END row -->
                    </div>
                    <!-- END col-10 -->
                </div>
                <!-- END row -->
            </div>
        </div>
    </section>
    <!-- END container -->


{% endblock %}