<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    {% if domain %}
        <a class="navbar-brand text-info" href="{% url 'inventory_list' %}" style="margin-left: 20px;">CIMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% else %}
        <a class="navbar-brand text-info" href="{% url 'domain_create' %}" style="margin-left: 20px;">CIMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endif %}

    <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if domain %}
            <ul class="navbar-nav me-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inventory_list' %}">All<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inventory_laptops_list' %}">Laptops<span
                            class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inventory_mobiles_list' %}">Mobiles<span
                            class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inventory_monitors_list' %}">Monitors<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inventory_others_list' %}">Others<span class="sr-only"></span></a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav me-auto">

            </ul>
        {% endif %}
        {% if request.user.is_authenticated %}

            <ul class="navbar-nav justify-content-end">
                <div class="btn-group mx-2">
                    <button type="button" class="btn btn-outline-info nav-link dropdown-toggle"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">User:
                        {{ user }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="{% url "user_profile" %}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "users_list" %}">Users</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "system_list" %}">System</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "signout" %}"><font color="red">Logout &raquo;</font></a>
                    </div>
                </div>
            </ul>

        {% else %}
            <ul class="navbar-nav mr-right">
                <li class="nav-item"><a class="nav-link" href="{% url "signin" %}"><span
                        class="btn btn-outline-info my-2 my-sm-0">Login &raquo;</span></a></li>
            </ul>
            <ul class="navbar-nav mr-right">
                <li class="nav-item"><a class="nav-link" href="{% url "signup" %}"><span
                        class="btn btn-outline-info my-2 my-sm-0">SignUp &raquo;</span></a></li>
            </ul>
        {% endif %}
    </div>
</nav>


